@media screen and (max-width: 922px) {

    body {
        overflow-x: hidden;
    }

    /*Header*/

    #heading {
        grid-template-columns: 45% 55%;
        overflow: hidden;
    }

    .header_area6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: 0em;
    }

    .header_area3 {
        display: none;
    }

    .header_area4 {
        padding: 0em 0em 5em 2em;
    }

    /* menu */

    #menu {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background: #555185;
        height: 100%;
        width: 50%;
        align-items: center;
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
        overflow: hidden;
    }


    #menu_icon{
        display: block;
        padding: 1em;
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 5%;
    }

    #barger {
        display: inline;
    }

    #cross {
        display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        cursor: pointer;
    }

    /*header img*/ 

    .header_area6 img {
        height: 16em;
    }

    /* about */

    .aboutPart1 img {
        height: 14em;
        width: 14em;
    }

    #clipping {
        height: 22em;
    }

    #clip_path2 {
        height: 16em;
        width: 19em;
    }

    /* services */

    #services {
        grid-template-columns: 1fr;
    }

    /* skill */

    #skill {
        flex-direction: column;
    }

    .skillSection1 {
        width: 100%;
        height: 30em;
    }

    .skillSection2 {
        width: 100%;
    }

    .skillSection1 img {
        height: 70%;
    }

    #skillDetails {
        grid-template-columns: 1fr 1fr;
    }

    /* projects */

    #projects{
        grid-template-columns: 1fr;
        width: 100%;
    }

    /* clients */

    #sliderAndArrow {
        width: 75%;
    }

    #arrow {
        width: 3em;
    }

    #slider {
        width: calc(100% - 3em);
    }

    #blogSlider div:nth-of-type(1), #blogSlider div:nth-of-type(2), #blogSlider div:nth-of-type(3), #blogSlider div:nth-of-type(4) {
        flex-basis: 98%;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 1%;
    }

    #contactDetails {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #positioning {
        position: relative;
    }

    .contactWithMe, .myContacts {
        width: 100%;
    }

    form {
        padding: 1em 0.1em;
    }

    /* footer */

    .subSection1 {
        width: 50%;
        margin-right: 20%;
    }

}